.movieInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.contentContainerRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    gap: 20px;
}

.contentContainerLeft {
    max-width: 300px;
}

.movieImg {
    max-width: 100%;
    border-radius: var(--border-radius);
}

.infoTitle {
    font-weight: bold;
}

.contentContainerRight,
.contentContainerLeft {
    margin: 0 auto;
}
